<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burger Time!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>

	<h1>Really Good Burgers!</h1>

	<img class="image"
		{{!-- src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSliUTKELhuS2yYxjyfaGMMhJXu4VuwOLWuKXF_d-9ljEr4Rp4c" --}}
		src="https://us.123rf.com/450wm/capeman29/capeman291404/capeman29140400004/27536401-stock-vector-hamburger-cheeseburger-sports-fan-cartoon-character-drinking-beer-with-a-foam-finger.jpg?ver=6"
		height="150">


	{{{ body }}}


</body>

</html>